/* Google Fonts Family Inter Use is Here! */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-resilient {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Resetting default margin, padding, and box-sizing for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common Reusable CSS Styles is Here */
.homepage {
  background: rgb(0, 0, 0);
}
.container {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.primary-color {
  color: rgb(230, 83, 60);
}
.primary-bg {
  color: rgb(230, 83, 60);
}
.primary-heading {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}
.primary-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.btn-primary {
  width: 14rem;
  height: 3.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0px;
  text-align: center;
  -o-border-radius: 2.6rem;
  background: rgb(230, 83, 60);
  -webkit-border-radius: 2.6rem;
  -moz-border-radius: 2.6rem;
  -ms-border-radius: 2.6rem;
  border-radius: 2.6rem;
  border: none;
  padding: 1rem 2.5rem;
}

/* Header Section Style is Start Here */
#header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 10%
  );
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo Content Style is Here */
.logo-title {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: leaser(0.1em, 0.2em);
  text-align: left;
  -webkit-animation: colorRotate 5s linear 0s infinite;
  animation: colorRotate 3s linear 0s infinite;
}
@keyframes colorRotate {
  from {
    color: #4158d0;
  }
  20% {
    color: #c850c0;
  }
  50% {
    color: #484676;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
/* !Logo Content Style is End Here! */
/* Menu Content Style is Start Here! */
.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -o-border-radius: 2.43rem;
  -webkit-border-radius: 2.43rem;
  -moz-border-radius: 2.43rem;
  -ms-border-radius: 2.43rem;
  border-radius: 2.43rem;
  margin: 0 0.62rem;
  padding: 0.25rem 1.25rem;
}
.menu-items {
  list-style: none;
}
.menu-items a {
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-decoration: none;
}
/* Menu Content Style is End Here! */
/* Hero Section Style is Start Here!  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text-content {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}
.hero-title {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 1px;
}
.btn-primeaction {
  display: flex;
  gap: 0.5rem;
}
.btn-secondary {
  width: 14rem;
  height: 3.5rem;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  -o-border-radius: 2.6rem;
  -webkit-border-radius: 2.6rem;
  -moz-border-radius: 2.6rem;
  -ms-border-radius: 2.6rem;
  border-radius: 2.6rem;
  margin: 0 0.8rem;
  padding: 1rem 2.5rem;
}
.highlight {
  color: rgb(255, 255, 255);
  font-size: 5.3rem;
  line-height: 120%;
  text-align: left;
  letter-spacing: 5px;
  font-weight: 400;
  font-style: oblique;
  font-optical-sizing: slightly-condensed;
}
.hero-img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.hero-img {
  position: relative;
}
.hero-img img {
  width: 90%;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.btn-card {
  position: absolute;
  top: 23%;
  right: -18%;
  width: 12.8rem;
  height: 6rem;
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 0 0.8rem;
  padding: 1rem 2.5rem;
}
.btn-cta {
  position: absolute;
  left: -20%;
  top: 70%;
  width: 12.8rem;
  height: 6rem;
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: left;
}

/* Habits Section Style is Start Here! */
.habits-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3.6rem;
  padding: 6rem 0;
}
.section-content {
  max-width: 40rem;
  text-align: center;
}
.circle-photo-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 0.8rem 0;
}
.section-img {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.circle-profile img {
  width: 100%;
  object-fit: cover;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* !Habits Section Style is Ends Here! */

/* Run an Extra Mile Section Style is Start Here! */
.run-extra-mile {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 10rem;
 -o-border-radius: 1.1rem;
 -webkit-border-radius: 1.1rem;
 -moz-border-radius: 1.1rem;
 -ms-border-radius: 1.1rem;
 border-radius: 1.1rem;
 background: rgb(34, 34, 34);
 padding: 1.8rem;
}
.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
}
.section-image {
  width: 50%;
}
.section-image img {
  width: 100%;
  object-fit: cover;
  -o-border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  border-radius: 1.2rem;
}

/* !Run an Extra Mile Section Style is Ends Here! */
/* BMI Calculator Section Style is Start Here! */

/* !BMI Calculator Section Style is Ends Here! */
