/* Google Fonts Family Inter Use is Here! */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-resilient {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Resetting default margin, padding, and box-sizing for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common Reusable CSS Styles is Here */
.container {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}
/* Reusable flex container */
.flex-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
/* !Reusable flex container ends here! */
/* Reusable border-radius classes */
.radius-small {
  -o-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.radius-medium {
  -o-border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  border-radius: 0.6rem;
}
.radius-xl {
  -o-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
}
.radius-large {
  -o-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  border-radius: 2.5rem;
}

.radius-circle {
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* !Reusable border-radius classes ends here! */
/* Reusable padding classes */
.padding-small {
  padding: 0.5rem;
}
.padding-medium {
  padding: 0.5rem 1.25rem;
}
.padding-large {
  padding: 3rem 0rem;
}
.padding-xl {
  padding: 1.25rem;
}
/* !Reusable padding classes ends here! */
/* General Gap Classes */
.gap-sm {
  gap: 1rem;
}

.gap-md {
  gap: 1.5rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 2.5rem;
}

.gap-xxl {
  gap: 3rem;
}
/* !General Gap Classes ends here! */
/* Reusable margin classes using rem values */

/* Small margin */
.margin-small {
  margin: 0.5rem;
}
.margin-medium {
  margin: 1rem;
}
.margin-xl {
  margin: 3.1rem 0;
}
.margin-xxl {
  margin: 1.5rem 0;
}
/* Large margin */
.margin-large {
  margin: 2rem;
}
/* !Reusable margin classes ends here! */
.bg-primary {
  background: rgb(230, 83, 60);
}
.primary-bg {
  background: rgb(0, 0, 0);
}
.secondary-bg {
  background: rgb(34, 34, 34);
}
.primary-linear-bg {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 10%
  );
}
.primary-heading {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}
.primary-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.display {
  display: none;
}

.btn-primary {
  width: 14rem;
  height: 3.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
  -o-border-radius: 2.6rem;
  background: rgb(230, 83, 60);
  -webkit-border-radius: 2.6rem;
  -moz-border-radius: 2.6rem;
  -ms-border-radius: 2.6rem;
  border-radius: 2.6rem;
  border: none;
  padding: 1rem 2.5rem;
}
.btn-secondary {
  width: 14rem;
  height: 3.5rem;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}

/* Header Section Style is Start Here */

/* Logo Content Style is Here */
.logo-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 120%;
  font-variant: small-caps;
  font-style: oblique;
  text-align: left;
  -webkit-animation: colorRotate 5s linear 0s infinite;
  animation: colorRotate 3s linear 0s infinite;
}
@keyframes colorRotate {
  from {
    color: #4158d0;
  }
  20% {
    color: #c850c0;
  }
  50% {
    color: #484676;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
/* !Logo Content Style is End Here! */
/* Menu Content Style is Start Here! */
.nav-item {
  padding-left: 0rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-link a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-decoration: none;
}
.nav-item li {
  list-style: none;
}
.mobile-nav {
  display: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
/* !Menu Content Style is End Here! */
/* Hero Section Style is Start Here!  */
.hero-text-content {
  width: 50%;
  align-items: flex-start;
  text-align: left;
}
.hero-title {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 1px;
}
.highlight {
  color: rgb(255, 255, 255);
  font-size: 4.7rem;
  line-height: 120%;
  text-align: left;
  letter-spacing: 5px;
  font-weight: 400;
  font-style: oblique;
  text-shadow: 0px 0px 10px #ff3399, 0px 0px 20px #ff3399, 0px 0px 30px #ff3399;
}
.hero-subtitle {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  letter-spacing: 1px;
}
.hero-btn {
  background: #ff3399;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 120%;
}
.hero-img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.hero-img {
  position: relative;
}
.hero-img img {
  width: 90%;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.btn-card {
  position: absolute;
  top: 23%;
  right: -18%;
  width: 12.8rem;
  height: 6rem;
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 0 0.8rem;
  padding: 1rem 2.5rem;
}
.btn-cta {
  position: absolute;
  left: -20%;
  top: 70%;
  width: 12.8rem;
  height: 6rem;
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
}
.subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: left;
}
/* Habits Section Style is Start Here! */
.habit-section {
  max-width: 40rem;
  text-align: center;
}
.section-img {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.profile-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 0.8rem 0;
}
.circle-profile img {
  width: 100%;
  object-fit: cover;
}
/* !Habits Section Style is Ends Here! */
/* Run an Extra Mile Section Style is Start Here! */
.run-section {
  width: 60%;
  align-items: flex-start;
}
.section-image {
  width: 45%;
}
.section-image img {
  width: 100%;
  object-fit: cover;
}
/* !Run an Extra Mile Section Style is Ends Here! */
/* BMI Calculator Section Style is Start Here! */
.bmi-calculator-container {
  max-width: 50rem;
  width: 70%;
  margin: 3rem auto;
}
.bmi-header {
  align-items: first baseline;
}
.bmi-section-title {
  padding-bottom: 3rem;
}
.bmi-calculator-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.8rem;
  width: 40%;
}
.bmi-calculator-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.bmi-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.grid-items-1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.bmi-calculator-form input,
select {
  color: rgba(255, 255, 255, 0.3);
  width: 17rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.bmi-calculator-form input:focus::after,
input:focus {
  color: rgba(253, 238, 238, 0.76);
}
#activity {
  width: 100%;
}
.grid-items-2,
.activity {
  width: 100%;
  display: block;
}
.bmi-table {
  color: white;
  width: 19rem;
  height: 13rem;
}
.table-heading {
  color: rgb(255, 255, 255);
}
table,
.bmi-table tr,
td,
th {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.table-row td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.bmi-section-title {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
/* !BMI Calculator Section Style is Ends Here! */
/* Meet Our Team Section Style is Starts Here! */
.meet-section {
  max-width: 50rem;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.1);
}
.grid-item {
  position: relative;
  max-width: 19rem;
  max-height: 17rem;
}
.trainer-info {
  position: absolute;
  top: 75%;
  left: 30%;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5rem;
}
.trainer-name {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
/* !Meet Our Team Section Style is Ends Here! */
/* Footer Section Style is Starts Here! */
.active {
  width: 60%;
}
.contact {
  width: 70%;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.social-heading {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 0.9rem;
  margin: 0.4rem 0;
}
.footer-card {
  border: none;
}

.icon {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  padding: 0.5rem;
  text-decoration: none;
}
.nav-links {
  margin: 0.4rem 0;
}
.contact-service,
.contact-social {
  padding: 2rem;
  text-align: left;
}
/* !Footer Section Style is Ends Here! */

/* Student Fitness Program Section Style is Starts Here!  */
.student-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.student-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(54, 53, 53, 0.74);
}
.student-img {
  width: 100%;
}
.student-item h3 {
  font-size: 1.5em;
  margin-top: 15px;
}
.copyright{
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: rgba(253, 238, 238, 0.7);
}
.footer-hr {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  border: 0.9px solid rgba(255, 255, 255, 0.2);
}
/* !Student Fitness Program Section Style is Starts Here!  */
